.none {
  display: none !important;
}

body {
  background: #edeef0;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.main{
  margin: 0 auto;
  max-width: 960px;
  padding: 0 10px;
}
.header{
  display: flex;
  align-items: center;
}
.header h3{
  color: #999;
  font-weight: 300;
}
.header__window{
  text-decoration: none;
}
.header__more-info{
  position: relative;
  border-radius: 5px;
  border: 1px solid #98999a;
  width: 200px;
  height: 60px;
  background: #fff;
  font-size: 12px;
}

.app{
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  margin-bottom: 5px;
}
.little-input, .more-input{
  display: flex;
  height: 35px;
}
.little-input{
  margin-bottom: 10px;
}
.more-input{
  margin-top: 10px;
}

.little-input__src, .little-input__reduceLink,
 .more-input__linkInfo, .more-input__tags {
  width: 270px;
  padding: 5px 15px;
  border: 1px solid #d3d9de;
  font-size: 14px;
  height: 25px;
  border-radius: 3px;
}
.little-input__src, .little-input__reduceLink,
 .more-input__linkInfo{
    margin-right: 20px;
}

.more-input{
  margin-top: 10px;
}
.more__window, .show__window{
  color: #999;
  font-weight: 300;
}

.add__btn, .show-link__btn {
  width: 120px;
  height: 35px;
  border: 1px solid #d3d9de;
  box-shadow: 3px 3px 10px 0px rgb(115, 116, 117);
  font-size: 14px;
  border-radius: 5px;
  color: #FFF;
  text-transform: uppercase;
  background: #007DDC;
}
.add__btn:hover, .show-link__btn:hover{
  background: #1f82b9;
  transition: all 300ms ease;
}
.add__btn:active, .show-link__btn:active{
  background: #0067a0;
  transition: all 300ms ease;
}
.add__btn:disabled{
  box-shadow: 3px 3px 10px 0px rgba(0, 78, 195, 0.82);
  background: #edeef0;
  color: #999;
}

.show{
  margin-bottom: 30px;
}

.show-link{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding-top: 10px;
  box-shadow: 3px 3px 10px 0px rgb(0, 81, 202);
}
.show-link__row{
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 10px 2.5%;
}
.show-link__tags__a{
  width: 30%;
  display: flex;
}
.show-link__text{
  margin: 0;
  font-size: 14px;
}
.show-link__tags__search{
  margin-left: 5px;
}
.show-link__btn{
  width: 180px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.show-link__btn:disabled {
  box-shadow: 3px 3px 10px 0px rgba(0, 78, 195, 0.82);
  background: #fff;
  color: #999;
}
.show-link__src, .show-link__reduceLink,
 .show-link__linkInfo, .show-link__click, .show-link__tags{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
 }
.show-link__src__input, .show-link__reduceLink__input,
 .show-link__linkInfo__input, .show-link__click__input,
  .show-link__tags__input{
  width: 65%;
  padding: 4px 8px;
  border: 1px solid #d3d9de;
  font-size: 14px;
  height: 20px;
  border-radius: 3px;
}
.show-link__tags__input, .show-link__linkInfo__input{
  max-width: 65%;
}
.show-link__linkInfo__input{
  max-height: 100px;
}
.show-link__tags__input{
  max-height: 40px;
}
