.none {
  display: none !important;
}

body {
  background: #edeef0;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

p {
  margin: 0 0 5px;
}



.add {
  padding: 25px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.add__user, .add__btn{
    margin-bottom: 15px;
}
.add__user, .add__password, .add__btn {
  display: block;
  padding: 5px 15px;
  width: 270px;
  border: 1px solid #d3d9de;
  font-size: 14px;
  height: 25px;
  border-radius: 3px;
}
.add__btn{
  margin-top: 15px;
}
.add__password{
  margin-bottom: 5px;
}
.add__wrong-input{
  background-color: rgba(255,0,0, 0.1);
}
.add__wrong{
  font-size: 13px;
  color: #f00;
}
.add__btn {
  box-sizing: content-box;
  color: #FFF;
  text-transform: uppercase;
  background: #007DDC;
}
.add__btn:disabled {
  background: #edeef0;
  color: #999;
}



#root{
  display: flex;
  justify-content: center;
  margin-top: 130px;
}


.main{
  margin: 0 auto;
  max-width: 960px;
  padding: 0 10px;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3{
  color: #999;
  font-weight: 300;
}
